{% extends 'base.html' %}

<header id="input-data">
</header>

<body>

<h1>Weekly overview</h1>
{% block content %} 

    <form method="post" action = "/add">
        <input type="text" name="total_income">
        <button type="submit">Enter data</button>

    </form>
<hr>
{% for income in overview_list %}
    {{ income.db_total_income }}
{% endfor %}

<section id="total-income">
</section>
<section id="highest-spend">
</section>
<section id="best-selling-item">
</section>
<section id="least-sold-item">
</section>
<section id="MVP-staff">
</section>

<form id="graph">
</form>

{% endblock %}
</body>
</html>