{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}"> 
{% endblock %}
<header id="input-data">
</header>

<body>

<h1>Weekly overview</h1>
{% block content %} 

<hr>

<div class="dropdown">
    <!-- <button class="dropbtn">Dropdown</button> -->
    <!-- <div class="dropdown-content"> -->
        <div class="content"></div>
    <form method="post" action = "/add">
    <div class="box1">
        <section id="total-income">
            <input type="text" placeholder="Total income" name="total_income" class="big-input">
        </section>

        <section id="highest-spend">
            <input type="text" placeholder="Highest spend" name="highest_spend" class="big-input">
        </section>
    </div>
    <div class="box2">
        <section id="best-selling-item">
            <input type="text" placeholder="Best selling item" name="best_selling_item" class="big-input">
        </section>

        <section id="least-sold-item">
            <input type="text" placeholder="Least sold item" name="least_selling_item" class="big-input">
        </section>
    </div>

    <div class="box3">
        <section id="MVP-staff">
            <input type="text" placeholder="MVP staff" name="MVP_staff" class="big-input">
        </section>
        
    </div>
    <div class="enter">
        <input type="submit" class="button">
        </div>
    </div>
</div>

</form>



<!-- <div class="id">
    for input 
</div>
<div class="id1">
    more input
</div> -->

<div class="results">
    <section class="week">
<p>  Total Income
{{max_total_income}} </p>
</section>
<section class="week">
<p>Highest Spend  
{{max_highest_spend}} </p>

</section>

<section class = "week">
<p>Best seller
    {{mode_bestseller}}
</p>
</section>

    <section class = "week">
    <p>Worst seller
    {{mode_worst_seller}}
</p>
</section>

<section class = "week">
    <p>MVP Staff
    {{mode_mvp_staff}}
</p>
</section>
</div>



<div class="graph">
    <!-- <img src="{{ url_for('static', filename='my_plot.png') }}"> -->
    
    <img src="{{ url_for('static', filename='images/my_plot.png') }}"> 
</div>



{% endblock %}
</body>
</html>