{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='days.css') }}"> 
{% endblock %}
{% block content %}
    <header>
        <h1>Thursday overview</h1>
    </header>

    <form>
        <section id="MVP">
        </section>
        <section id="best-selling-item">
        </section>
        <section id="least-sold-item">
        </section>
        <section id="profit">
        </section>
    </form>

    <aside>
        <img src="" alt="chart">
    </aside>
    
    {% endblock %}