{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='days.css') }}"> 
{% endblock %}
{% block content %} <div class="monday">
    <header>
        <h1>Thursday overview</h1>
    </header>

    <div class="whole">
        <div class="lsec">
        <section id="MVP">
            thing
        </section>
        <section id="best-selling-item">
            thing
        </section>
        <section id="least-sold-item">
            thing
        </section>
        <section id="profit">
            thing
        </section>
    </div>
    {{income}}
    {{highest_spend}}
    {{best_seller}}
    {{worst_seller}}
    {{mvp}}
   <div class="graph">
        <aside >
        <img src="" alt="chart">
    </aside>
        </div>
    </div>
</div>
   
    
    </div>{% endblock %}