<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='days.css') }}">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="home.html">Week overview</a>
        <a href="mon.html">Monday</a>
        <a href="tues.html">Tuesday</a>
        <a href="wed.html">Wednesday</a>
        <a href="thurs.html">Thursday</a>
        <a href="fri.html">Friday</a>
        <a href="sat.html">Saturday</a>
        <a href="sun.html">Sunday</a>
    </nav>

    <header>
        <h1>Monday overview</h1>
    </header>

    <form>
        <section id="MVP">
        </section>
        <section id="best-selling-item">
        </section>
        <section id="least-sold-item">
        </section>
        <section id="profit">
        </section>
    </form>

    <aside>
        <img src="" alt="chart">
    </aside>
    
</body>
</html>