body {
    background-color:steelblue;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:slategray;
    text-decoration:dashed;
}

nav a {
    color:black;
    font-family: monospace;
    font-size: xx-large;
}

nav :hover{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:blue;
}

h1 {
    display: flex;
    text-align:center;
}
h2 {
    display: flex;
    text-align: right;
}

.monday {
    background-color: aqua;
}

/* .dropbtn {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
} */

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

/* .dropdown-content a:hover {
    background-color: #ddd;
} */

.enter {
    display: flex;
    justify-content: center;
    
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

.box1, .box2, .box3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 90%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}

.id {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 90%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}

.id1 {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 90%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}

.graph {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 90%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}


.results {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 90%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;   
}


.week {
    font-size: xx-large;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 60%;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}

.big-input {
    width: 250px;
    height: 40px;
    padding: 8px;
    font-size: 16p
}

.button {
    background-color: purple;
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }